.navBar {
    width: 100%;
    height: 90px;
    background-color: var(--paw-blue);
    display: flex;
  justify-content: space-around;
  align-items: center;
}
.navBar__logo {
    width: 188px;
    height: 88px;
}
.navBar__menu {
    display: none;
    width: 64px;
    height: 64px;
    background-image: url('../assets/paw-menu.svg');
    background-size:contain;
    background-repeat: no-repeat;
}
.navBar__paw {
    display:none;
    width: 64px;
    height: 64px;
    background-image: url('../assets/paw-yellow.svg');
    background-size:contain;
    background-repeat: no-repeat;
}
.navBar__links  {
    list-style: none;
    display: flex;
    gap:64px;
    
}

.navBar__links a {
    text-decoration: none;
    color: var(--paw-white); 
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}
.navBar__links a:hover {
 color: var(--paw-dark);
}

.navBar__button {
    background-color: var(--paw-yellow); 
    width:188px;
    height:45px; 
    border-radius: 8px; 
    color: var(--paw-white);
    font-weight: bold;
    background-color: var(--paw-yellow);
    box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}
.navBar__button:hover {
    background-color: var(--paw-yellow-light);
    cursor:pointer;
    box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.2);
}

@media only screen and (min-width: 767px) and (max-width: 1000px) {
.navBar__logo {
display: none;
}
.navBar__paw {
display:inline-block;
}
}
@media only screen and (max-width: 767px) {
    .navBar__logo {
        display: none;
        }
    .navBar__paw {
        display:none;
    }
    .navBar__links {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 5.5rem;
        padding: 2rem;
        margin-left:2rem;
        background-color: var(--paw-blue);
        display: none;
    }
    .navBar__links li {
        padding:1rem;
    }
    .show {
        display: block;
    }
    .navBar__menu {
        display:inline-block; 
    }
    .navBar__menu:hover {
        cursor: pointer;
    }
    
}







