.pet__container {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.petImg__container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.petImg {
    width: 490px;
    height: 690px;
    border-radius: 16px;
    margin-top:4px;

}
.pet__description {
   width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:80px;
    background-color: var(--paw-bg);
    color: var(--paw-dark);
}
.pet__title {
    font-family: var(--paw-titleFont);
    font-size: 64px;
}
.pet__list {
    font-size: 24px;
    margin: 24px 0;
}
.pet__buttonContainer {
    position: relative;
    width: 200px;
    height: 200px;
}
.pet__button {
    position: relative;
    background-color: var(--paw-yellow); 
    width:188px;
    height:45px; 
    border-radius: 8px; 
    color: var(--paw-white);
    font-weight: bold;
    box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
    margin-top: 48px;
}
.pet__button:hover {
    background-color: var(--paw-yellow-light);
    box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.2);
    cursor:pointer;
}
.pet__buttonPaw {
    padding-left: 136px;
}
.paw {
    position: absolute; 
    width: 100px;
    height: 100px;
    background-image: url('../assets/paw-dark.svg');
    background-size:contain;
    background-repeat: no-repeat;
    transform: scaleX(-1); 
    
}
@media only screen and (max-width: 1000px) {
    .pet__container {
        height:auto;
    }
    .petImg__container, .pet__description {
        width:100vw;
    }
}